 <div
            class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mt-16">
            <div class="px-4 py-2">
                <h1 class="text-gray-800 font-bold text-2xl uppercase">
                    List</h1>
            </div>
            
            <ul class="divide-y divide-gray-200 px-4">
                <% todos.forEach(function(todo){ %>
                <li class="py-4">
                    <div class="flex items-center">

                        <label for="todo3" class="ml-3 block text-gray-900">
                            <span class="text-lg font-medium"><%- todo.task %>
                            </span>
                            <span
                                class="text-sm font-light text-gray-500">Status
                                : <%- todo.status %></span>
                            <p
                                class="text-sm font-light text-gray-500">Description
                                : <%- todo.description %></p>
                            <p
                                class="text-sm font-light text-gray-500">Date
                                : <%- todo.date %></p>
                        </label>
                    </div>
                    <a href="/delete/<%- todo.id %>"><button>Delete
                            me</button></a>
                    <a href="/edit/<%- todo.id %>"><button>Edit
                            me</button></a>
                </li>
                <% }) %>

            </ul>
        </div>